/C++/Teste_de_Portabilidade/build/
/C++/Teste_de_Portabilidade/dist/
/C++/POO_TP_Bruno_Gabriel_Portable/build/
/C++/POO_TP_Bruno_Gabriel_Portable/dist/
/C++/Test_de_Multiplas_Windows/build/
/C++/Test_de_Multiplas_Windows/dist/
/C++/POO_Ficha5_Ex1/build/
/C++/POO_Ficha5_Ex1/dist/
/C++/POO_Ficha5_Ex2/build/
/C++/POO_Ficha5_Ex2/dist/
/C++/Test_Dinamic_Memory_Classes/build/
/C++/Test_Dinamic_Memory_Classes/dist/
/C++/File_Testing/build/
/C++/File_Testing/dist/
/C++/POO_TP_Bruno_Gabriel/build/
/C++/POO_TP_Bruno_Gabriel/dist/