/C++/Teste_de_Portabilidade/build/
/C++/Teste_de_Portabilidade/dist/
/C++/POO_TP_Bruno_Gabriel_Portable/build/
/C++/POO_TP_Bruno_Gabriel_Portable/dist/
/C++/Test_de_Multiplas_Windows/build/
/C++/Test_de_Multiplas_Windows/dist/