/C++/Teste_de_Portabilidade/build/
/C++/Teste_de_Portabilidade/dist/
/C++/POO_TP_Bruno_Gabriel_Portable/build/
/C++/POO_TP_Bruno_Gabriel_Portable/dist/
/C++/Test_de_Multiplas_Windows/build/
/C++/Test_de_Multiplas_Windows/dist/
/C++/POO_Ficha5_Ex1/build/
/C++/POO_Ficha5_Ex1/dist/
/C++/POO_Ficha5_Ex2/build/
/C++/POO_Ficha5_Ex2/dist/
/C++/Test_Dinamic_Memory_Classes/build/
/C++/Test_Dinamic_Memory_Classes/dist/
/C++/File_Testing/build/
/C++/File_Testing/dist/
/C++/POO_TP_Bruno_Gabriel/build/
/C++/POO_TP_Bruno_Gabriel/dist/
/C++/Test_Cursor/build/
/C++/Test_Cursor/dist/
/IIA/IIA_Ficha7/dist/
/IIA/IIA_Ficha7/build/
/C++/POO_Ficha5_Ex8/build/
/C++/POO_Ficha5_Ex8/dist/
/IRC/IRC_TCP_Ex2/build/
/IRC/IRC_TCP_Ex2/dist/
/IRC/IRC_TCP_Ex2_Server/build/
/IRC/IRC_TCP_Ex2_Server/dist/
/C++/POO_Ficha6_Ex1/build/
/C++/POO_Ficha6_Ex1/dist/
/C++/POO_TP_Bruno_Gabriel_v2/build/
/C++/POO_TP_Bruno_Gabriel_v2/dist/
/IIA/Ficha 8/dist/
/IIA/Ficha 8/build/
/IIA/IIA_Ficha8/dist/
/IIA/IIA_Ficha8/build/
/IRC/IRC_TCP__Ex7_Server/build/
/IRC/IRC_TCP__Ex7_Server/dist/
/IRC/IRC_TCP__Ex7_Proxy_Server/build/
/IRC/IRC_TCP__Ex7_Proxy_Server/dist/
/C++/POO_Ficha7_Ex4/build/
/C++/POO_Ficha7_Ex4/dist/
/SO/TP_BG_Medit_v2/TP_Server/build/
/SO/TP_BG_Medit_v2/TP_Server/dist/
/Java/PA_Ficha1_Ex5/nbproject/private/
/Java/PA_Ficha1_Ex5/build/
/Java/PA_Ficha1_Ex5/dist/
/Java/PA_Ficha1_Ex5_ERR/nbproject/private/
/Java/Test Window/nbproject/private/
/Java/Test Window/build/
/Java/TestWindowDrawing/nbproject/private/
/Java/TestWindowDrawing/build/
/Java/Test_Java_Monster_Slayer/nbproject/private/
/Java/Test_Java_Monster_Slayer/build/
/Java/Ficha1_Ex6/nbproject/private/
/Java/Ficha1_Ex6/build/
/Java/Ficha1_Ex1/nbproject/private/
/Java/Ficha1_Ex1/build/
/Java/Ficha1_Ex2/nbproject/private/
/Java/Ficha1_Ex2/build/
/Java/Ficha1_Ex3/nbproject/private/
/Java/Ficha1_Ex3/build/
/Java/Ficha1_Ex4/nbproject/private/
/Java/Ficha1_Ex4/build/
/Java/Ficha1_Ex5/nbproject/private/
/Java/Ficha1_Ex5/build/
/Java/Ficha1_Ex7/nbproject/private/
/Java/Ficha1_Ex7/build/
/Java/Ficha2_Ex1/nbproject/private/
/Java/Ficha2_Ex1/build/
/Java/Ficha2_Ex2/nbproject/private/
/Java/Ficha2_Ex2/build/
/Java/Test_Game/nbproject/private/
/Java/Test_Game/build/
/Java/Ficha3_Ex2/nbproject/private/
/Java/Ficha3_Ex2/build/
/Java/Ficha3_Ex2/dist/
/Java/Monster Slayer Java Edition/nbproject/private/
/Java/Ficha3_Ex4/nbproject/private/
/Java/Monster Slayer Java Edition/build/
/Java/Ficha3_Ex4/build/
/Java/Ficha3_Ex4/dist/
/Java/Monster Slayer Java Edition/dist/
/Java/Ficha3_Ex7/nbproject/private/
/Java/Monster_Slayer_C++_NCurses/build/
/Java/Ficha4_Ex1/nbproject/private/
/Java/Ficha4_Ex1/build/
/Java/Ficha4_Ex1/dist/
/C++/Monster_Slayer_C++_NCurses/dist/
/Java/Destination_Earth/nbproject/private/
/Java/Ficha5_Ex1/nbproject/private/
/Java/Ficha5_Ex1/build/
/Java/Ficha6_Ex1/nbproject/private/
/Java/Ficha6_Ex1/build/
/SO2/Ficha7_Ex1/nbproject/private/
/Java/Ficha7_Ex1/nbproject/private/
/Java/Ficha7_Ex1/build/
/Java/Destination_Earth/build/
/Java/Destination_Earth/dist/
SO2/TP_SO2_Final/.vs
SO2/TP_SO2_DLL/.vs/
SO2/TP_SO2_Client/.vs/
SO2/TP_SO2_Server/.vs/
/.vs
C++/Test_Game/.vs
/Java/Destination_Earth_v2/nbproject/private/
/Java/Destination_Earth_v2/build/
/Java/Destination_Earth_v2/dist/
/C++/TestOpenGL/build/
/C++/TestOpenGL/dist/
/Dread's Projects/LinuxRPG_Because_I_Am_Bored/build/
/Dread's Projects/LinuxRPG_Because_I_Am_Bored/dist/
/ED/EDMainClass/nbproject/private/
/ED/EDMainClass/build/
/PDist/PDist_Aula2/nbproject/private/
/PDist/PDist_Aula2/build/
/PDist/PDist_Aula2/dist/
/PDist/PDist_Aula2_Server/nbproject/private/
/PDist/PDist_Aula2_Server/build/
/C++/Teste_de_Portabilidade/build/
/C++/Teste_de_Portabilidade/dist/
/C++/POO_TP_Bruno_Gabriel_Portable/build/
/C++/POO_TP_Bruno_Gabriel_Portable/dist/
/C++/Test_de_Multiplas_Windows/build/
/C++/Test_de_Multiplas_Windows/dist/
/C++/POO_Ficha5_Ex1/build/
/C++/POO_Ficha5_Ex1/dist/
/C++/POO_Ficha5_Ex2/build/
/C++/POO_Ficha5_Ex2/dist/
/C++/Test_Dinamic_Memory_Classes/build/
/C++/Test_Dinamic_Memory_Classes/dist/
/C++/File_Testing/build/
/C++/File_Testing/dist/
/C++/POO_TP_Bruno_Gabriel/build/
/C++/POO_TP_Bruno_Gabriel/dist/
/C++/Test_Cursor/build/
/C++/Test_Cursor/dist/
/IIA/IIA_Ficha7/dist/
/IIA/IIA_Ficha7/build/
/C++/POO_Ficha5_Ex8/build/
/C++/POO_Ficha5_Ex8/dist/
/IRC/IRC_TCP_Ex2/build/
/IRC/IRC_TCP_Ex2/dist/
/IRC/IRC_TCP_Ex2_Server/build/
/IRC/IRC_TCP_Ex2_Server/dist/
/C++/POO_Ficha6_Ex1/build/
/C++/POO_Ficha6_Ex1/dist/
/C++/POO_TP_Bruno_Gabriel_v2/build/
/C++/POO_TP_Bruno_Gabriel_v2/dist/
/IIA/Ficha 8/dist/
/IIA/Ficha 8/build/
/IIA/IIA_Ficha8/dist/
/IIA/IIA_Ficha8/build/
/IRC/IRC_TCP__Ex7_Server/build/
/IRC/IRC_TCP__Ex7_Server/dist/
/IRC/IRC_TCP__Ex7_Proxy_Server/build/
/IRC/IRC_TCP__Ex7_Proxy_Server/dist/
/C++/POO_Ficha7_Ex4/build/
/C++/POO_Ficha7_Ex4/dist/
/SO/TP_BG_Medit_v2/TP_Server/build/
/SO/TP_BG_Medit_v2/TP_Server/dist/
/Java/PA_Ficha1_Ex5/nbproject/private/
/Java/PA_Ficha1_Ex5/build/
/Java/PA_Ficha1_Ex5/dist/
/Java/PA_Ficha1_Ex5_ERR/nbproject/private/
/Java/Test Window/nbproject/private/
/Java/Test Window/build/
/Java/TestWindowDrawing/nbproject/private/
/Java/TestWindowDrawing/build/
/Java/Test_Java_Monster_Slayer/nbproject/private/
/Java/Test_Java_Monster_Slayer/build/
/Java/Ficha1_Ex6/nbproject/private/
/Java/Ficha1_Ex6/build/
/Java/Ficha1_Ex1/nbproject/private/
/Java/Ficha1_Ex1/build/
/Java/Ficha1_Ex2/nbproject/private/
/Java/Ficha1_Ex2/build/
/Java/Ficha1_Ex3/nbproject/private/
/Java/Ficha1_Ex3/build/
/Java/Ficha1_Ex4/nbproject/private/
/Java/Ficha1_Ex4/build/
/Java/Ficha1_Ex5/nbproject/private/
/Java/Ficha1_Ex5/build/
/Java/Ficha1_Ex7/nbproject/private/
/Java/Ficha1_Ex7/build/
/Java/Ficha2_Ex1/nbproject/private/
/Java/Ficha2_Ex1/build/
/Java/Ficha2_Ex2/nbproject/private/
/Java/Ficha2_Ex2/build/
/Java/Test_Game/nbproject/private/
/Java/Test_Game/build/
/Java/Ficha3_Ex2/nbproject/private/
/Java/Ficha3_Ex2/build/
/Java/Ficha3_Ex2/dist/
/Java/Monster Slayer Java Edition/nbproject/private/
/Java/Ficha3_Ex4/nbproject/private/
/Java/Monster Slayer Java Edition/build/
/Java/Ficha3_Ex4/build/
/Java/Ficha3_Ex4/dist/
/Java/Monster Slayer Java Edition/dist/
/Java/Ficha3_Ex7/nbproject/private/
/Java/Monster_Slayer_C++_NCurses/build/
/Java/Ficha4_Ex1/nbproject/private/
/Java/Ficha4_Ex1/build/
/Java/Ficha4_Ex1/dist/
/C++/Monster_Slayer_C++_NCurses/dist/
/Java/Destination_Earth/nbproject/private/
/Java/Ficha5_Ex1/nbproject/private/
/Java/Ficha5_Ex1/build/
/Java/Ficha6_Ex1/nbproject/private/
/Java/Ficha6_Ex1/build/
/SO2/Ficha7_Ex1/nbproject/private/
/Java/Ficha7_Ex1/nbproject/private/
/Java/Ficha7_Ex1/build/
/Java/Destination_Earth/build/
/Java/Destination_Earth/dist/
SO2/TP_SO2_Final/.vs
SO2/TP_SO2_DLL/.vs/
SO2/TP_SO2_Client/.vs/
SO2/TP_SO2_Server/.vs/
/.vs
C++/Test_Game/.vs
/Java/Destination_Earth_v2/nbproject/private/
/Java/Destination_Earth_v2/build/
/Java/Destination_Earth_v2/dist/
/C++/TestOpenGL/build/
/C++/TestOpenGL/dist/
/Dread's Projects/LinuxRPG_Because_I_Am_Bored/build/
/Dread's Projects/LinuxRPG_Because_I_Am_Bored/dist/
/ED/EDMainClass/nbproject/private/
/ED/EDMainClass/build/
/Dread's Projects/Test_Window_and_PixelDrawing/nbproject/private/
/ED/ED_Ficha3/nbproject/private/
/ED/ED_Ficha3/build/
/ED/ED_Ficha3/dist/
/ED/ED_Ficha4/nbproject/private/
/ED/ED_Ficha4/build/
/PDist/GetFileUDPClient/nbproject/private/
/PDist/GetFileUDPClient/build/
/PDist/GetFileUDPClient/dist/
/PDist/JavaTCPClient/nbproject/private/
/PDist/JavaTCPServer/nbproject/private/
/PDist/JavaTCPServer/build/
/PDist/JavaTCPClient/build/