@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tintas & Trinchas</h1>
    <p class="lead">Entreposto de venda de materiais de pintura</p>
</div>

<div class="row">


</div>